<div class="jumbotron text-center">
    <h1>Create Shows</h1>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>Select City</th>
                        <th>Select Theatre</th>
                        <th>Select Show Time</th>
                        <th>Select Movie</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><select ng-model="assign.cityName" ng-change="selectCity(assign)" >
                             <option ng-repeat="city in cityList" ng-value ="city.cityName">
                                 {{city.cityName}}
                             </option>
                            </select>
                        </td>

                        <td><select ng-model="assign.theatreName" ng-change="selectTheatre(assign)" >
                             <option ng-repeat="theatreList in returnValue1" ng-value ="theatreList.theatreName">
                                 {{theatreList.theatreName}}
                             </option>
                            </select>
                        </td>

                        <td><select ng-model="assign.showTime" ng-change="selectshowTime(assign)" >
                             <option ng-repeat="showtimeList in returnTimings" ng-value ="showtimeList.showTimings">
                                 {{showtimeList.showTimings}}
                             </option>
                            </select>
                        </td>

                        <td><select ng-model="assign.movieTitle">
                             <option ng-repeat="movieList in moviList" ng-value ="movieList.moviTitle">
                                 {{movieList.moviTitle}}
                             </option>
                            </select>
                        </td>

                          <td><button ng-click="addAssign(assign)" class="btn btn-primary">Add </button></td>
                          <td><button ng-click="updateAssign(assign)" class="btn btn-primary">Update</button></td>
                      </tr>

                    <tr ng-repeat="assign in assignList">

                        <td>{{assign.cityName}}</td>
                        <td>{{assign.theatreName}}</td>
                        <td>{{assign.showTime}}</td>
                        <td>{{assign.movieTitle}}</td>
                        <td><button ng-click="removeAssign(assign)" class="btn btn-danger">Remove</button></td>
                        <td><button ng-click="editAssign(assign)" class="btn btn-primary">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>


</div>
