<div class="jumbotron text-center container">
    <h1>Book Movies</h1>

    <p>{{ tagline }}</p>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <div class="card-overlay" style="background-image: url('https://mdbootstrap.com/img/Photos/Exposure/Dark/courses.jpg')">

            <!--Content-->
            <div class="white-text text-center">
                <div class="card-block">
                    <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                    <h3>Project title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                        sed qui, dolorum!.</p>
                    <a class="btn btn-lg btn-outline-success waves-ripple"><i class="fa fa-clone left"></i> View project</a>
                  </div>
            </div>
        </div>

      </div>
      <div class="col-md-4"></div>
    </div>

</div>
