<div class="container jumbotron text-center wow fadeInUp">
    <h1>City</h1>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>City List</th>
                        <th>Operations</th>
                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td><input ng-model="city.cityName" /></td>

                        <td><button ng-click="addCity(city)" class="btn btn-dark-green waves-effect">Add </button></td>

                        <td><button ng-click="updateCity(city)" class="btn btn-mdb waves-effect">Update</button></td>

                    </tr>
                    <tr ng-repeat=" city in cityList">
                        <td>{{city.cityName}}</td>

                        <td><button ng-click="removeCity(city)" class="btn btn-danger waves-effect">Remove</button></td>
                        <td><button ng-click="editCity(city)" class="btn btn-primary waves-effect">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
