<div class="jumbotron text-center" ng-app="">
    <h1>Set the Theatre here!</h1>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>Theatre Name</th>
                        <th>No of Sheets</th>
                        <th>Ticket Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td><input placeholder="Theatre Name"  ng-model="theatre.theatreName" /></td>
                        <td><input type="number" placeholder="Max Sheets"  ng-model="theatre.theatreSheet" /></td>
                        <td><input type="number" placeholder="Ticket Price"  ng-model="theatre.theatrePrice" /></td>
                        <td><select ng-model="theatre.city" ng-click="loadCities()" >
                                                     <option ng-repeat="city in cityList" ng-value ="city.cityName">
                                                         {{city.cityList}}
                                                     </option>
                
                                                    </select></td>
                        <td><button ng-click="addTheatre(theatre)" class="btn btn-primary">Add </button>
                        </td>

                        <td><button ng-click="updateTheatre(theatre)" class="btn btn-primary">Update</button></td>

                    </tr>
                    <tr ng-repeat="theatre in theatreList">
                        <td>{{theatre.theatreName}}</td>
                       <td>{{theatre.theatreSheet}}</td>
                        <td>{{theatre.theatrePrice}}</td>
                        <td>{{theatre.city}}</td>
                         
                        <td><button ng-click="removeTheatre(theatre)" class="btn btn-danger">Remove</button></td>
                        <td><button ng-click="editTheatre(theatre)" class="btn btn-primary">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>